<h2>Latest posts:</h2>

<% @results.each do |post| %>
    
    <p>
        <%= post['autor_name'] %>
    </br>
        <span style="font-size:75%;color:#999">Added at: <%= post['created_date'] %>
     </p>
		<%= post['content'] %>	
	</br>
	<a href="/details/<%= post['id'] %>">Comments</a>
	<br/>
	<br/>
	<br/>

<% end %> 