<form action="/new" method="POST" role="form">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your post:</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="type your message here"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>